@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('/font/Satoshi-Regular.otf'); 
 }
 @font-face {
  font-family: 'Satoshi_Bold';
  src: url('/font/Satoshi-Bold.otf'); 
 }
 @font-face {
  font-family: 'Satoshi_Semi_Bold';
  src: url('/font/Satoshi-Medium.otf'); 
 }



.container{
    max-width: 1202px;
    margin: auto;
}
.container_navbar{
  max-width: 1152px;
  margin: auto;
}
.privay_container{
  max-width: 1152px;
  margin: auto;
}
.logo-container:hover .logo {
    filter: brightness(0) saturate(100%) invert(16%) sepia(73%) saturate(1885%) hue-rotate(197deg) brightness(94%) contrast(85%);
    transform: scale(1.1); /* Adjust the scale value as needed */
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for both effects */
}

.custom-bullets {
    list-style-type: disc; /* Use disc as bullet */
  }

  .custom-bullets li::marker {
    color: #3f3f46; /* Tailwind's zinc-700 color */
  }
  
    
  .custom-button-bg {
    background-color: #1E55A8;
  }

  .border-color{
    border-color: #1E55A8;
    color: #1E55A8;
  }

  .custom-btn-hvr-clr{
background-color: #054099;
  }
  .custom-shadow {
    box-shadow: rgba(14, 30, 37, 0.08) 0px 2px 4px 0px, 
                rgba(14, 30, 37, 0.18) 0px 2px 16px 0px;
  }

  .dashboard-shadow{
    box-shadow: '0px 0px 52.88px 0px #0B24481F',
  }
  .custom-bullets {
    list-style: none; /* Remove the default bullets */
    padding-left: 0;
  }
  
  .custom-bullets li {
    position: relative;
    padding-left: 23px;
  }
  
  .custom-bullets li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%; 
    transform: translateY(-50%);
    width: 13px; 
    height: 13px; 
    background-image: url('/images/Bullet.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  