@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 1146px;
    margin: auto;
}
.logo-container:hover .logo {
    filter: brightness(0) saturate(100%) invert(16%) sepia(73%) saturate(1885%) hue-rotate(197deg) brightness(94%) contrast(85%);
    transform: scale(1.1); /* Adjust the scale value as needed */
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for both effects */
}